@page
@model TravelUp.Pages.Travels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>

    <content>
        <h1>@Html.DisplayFor(model => model.Travel.Header)</h1>
        <hr />


        <div>
            @Html.Raw(Model.Travel.Text)
        </div>
        <hr />

        <div>
            @Html.DisplayNameFor(model => model.Travel.Rating):
            @Html.DisplayFor(model => model.RatingValue)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Travel.Author.Email):
            @Html.DisplayFor(model => model.Travel.Author.Email)
        </div>
        <hr />

        @{
            var parms = new Dictionary<string, string>
            {
                { "id", Model.Travel.Id.ToString() },
                { "addTo", "1" }
            };

            var parms2 = new Dictionary<string, string>
            {
                { "id", Model.Travel.Id.ToString() },
                { "addTo", "2" }
            };
        }
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Travel.Id" asp-all-route-data="parms">Add to Favourite list</a>
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Travel.Id" asp-all-route-data="parms2">Add to Visited list</a>
    </content>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Travel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
