@page
@model TravelUp.Pages.Travels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>

    <content>
        <h1>@Html.DisplayFor(model => model.Travel.Header)</h1>
        <hr />


        <div>
            @Html.Raw(Model.Travel.Text)
        </div>
        <hr />

        <div>
            @Html.DisplayNameFor(model => model.Travel.Author):
            @Html.DisplayFor(model => model.Travel.Author.Email)
        </div>

        <hr />
        @Html.DisplayNameFor(model => model.Travel.AddressOfThePlace):
        @Html.DisplayFor(model => model.Travel.AddressOfThePlace)

        <p style="height:500px;width:100%;" id="map"></p>
 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1RbB__IUKO4_FFy5NL82TYbsl1fl8Y-Y">
        </script>

        <hr />
        @{
            var favoriteList = new Dictionary<string, string>
            {
                { "id", Model.Travel.Id.ToString() },
                { "addTo", "1" }
            };

            var visitedList = new Dictionary<string, string>
            {
                { "id", Model.Travel.Id.ToString() },
                { "addTo", "2" }
            };
        }
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Travel.Id" asp-all-route-data="favoriteList">Add to Favourite list</a>
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Travel.Id" asp-all-route-data="visitedList">Add to Visited list</a>
    </content>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Travel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<script type="text/javascript">

    var geocoder = new google.maps.Geocoder();
    var address = "@Model.Travel.AddressOfThePlace";




    
    // Używamy GeocodingAPI w celu zmiany adresu na dane geograficzne
    // Długość i szerokość geograficzną pozwalają na zaznacznie 'lokalizacji' na mapie
    geocoder.geocode({ 'address': address }, function (results, status) {

        if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            //alert("szerokosc: " + latitude + "\ndlugosc: " + longitude);

            // tworzymy instancję nowej mapy z odpowiednim powiększeniem, punktem centralnym i typem mapy:
            // typy map: roadmap, satellite, hybrid oraz terrain
            // punkty startowe to pierwszy element kolekcji
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: latitude, lng: longitude },
                mapTypeId: 'terrain'
            });

            // Na nasza mapę naniesiemy teraz naszą "lokalizację"
            var place = { lat: latitude, lng: longitude };

            new google.maps.Marker({ position: place, map: map });

        } else {
            debugger;
            console.log(results);
        }
    });



</script>