@page
@model TravelUp.Pages.Travels.IndexModel
@using TravelUp.Utility
@{
    ViewData["Title"] = "Index";
}


    <p>
        list of all travels:

        @if (User.IsInRole(StaticDetails.User) || User.IsInRole(StaticDetails.Admin))
        {
            <a class="btn btn-primary" asp-page="Create">Add your travel!</a>
        }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Travel[0].Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Travel[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Travel[0].Created)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Travel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)

                </td>

                <td>

                    @if (User.IsInRole(StaticDetails.Admin)|| (Model.UserEmail== item.Author.Email) )
                    {
                        <a class="btn btn-primary text-white" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger " asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                        <a class="btn btn-primary text-white" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>
