@page
@model TravelUp.Pages.Travels.IndexModel
@using TravelUp.Utility
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Travel[0].Header)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Travel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>

                    @if (User.IsInRole(StaticDetails.Admin))
                    {
                        <a class="btn btn-primary text-white" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger " asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (User.IsInRole(StaticDetails.Admin)|| User.IsInRole(StaticDetails.User))
                    {
                        <a class="btn btn-primary text-white" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
