@page
@model TravelUp.Pages.Travels.OnVisitedListModel
@*
    ViewData["Title"]="Visisted places";
*@
<h1>My visited places:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OnVisitedList[0].Travel.Author.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnVisitedList[0].Travel.Header)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OnVisitedList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Travel.Author.UserName)
            </td>
            <td>
                <a class="btn btn-primary btn-header" asp-page="./Details" asp-route-id="@item.Travel.Id">

                    @Html.DisplayFor(modelItem => item.Travel.Header)
                </a> 
            </td>
            <td>
                <a class="btn btn-danger" asp-page="./OnVisitedList" asp-route-id="@item.Travel.Id"> delete from list</a>
            </td>
        </tr>

        }
    </tbody>
</table>
