@page
@model TravelUp.Pages.Users.IndexModel
@using TravelUp.Utility
@{
    ViewData["Title"] = "Index";
}

<h1>List of users</h1>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModelList[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModelList[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModelList[0].Email)
            </th>
            <th class="float-right">
                <a class="btn btn-primary text-white" asp-page="/Create">Create</a>
            </th>
        </tr>
        <tr></tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserModelList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (User.IsInRole(StaticDetails.Admin) || User.IsInRole(StaticDetails.User))
                {
                    <a class="btn btn-primary text-white" asp-page="./Details" asp-route-id="@item.Id">Details</a>


                }
                @if (User.IsInRole(StaticDetails.Admin))
                {
                    <a class="btn btn-primary text-white " asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                }
            </td>
        </tr>
        <tr></tr>
}
    </tbody>
</table>
